{% extends "base.html" %} {% block title %}Lista de Inmuebles - Gestión de
Inmuebles{% endblock %} {% block content %}
<h1 class="mb-4 text-center">Lista de Inmuebles</h1>

<div class="container">
  <form method="get" action="{% url 'lista_inmuebles' %}">
    <div class="row mb-4">
      <div class="col-md-4">
        <label for="id_region" class="form-label">Región</label>
        {{ form.region }}
      </div>
      <div class="col-md-4">
        <label for="id_comuna" class="form-label">Comuna</label>
        {{ form.comuna }}
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary mt-4">Filtrar</button>
      </div>
    </div>
  </form>
</div>

{% if inmuebles %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
  <!-- Cambié g-4 a g-3 para menor espaciado -->
  {% for inmueble in inmuebles %}
  <div class="col p-5">
    <div class="card h-100">
      {% if inmueble.imagen %}
      <img
        src="{{ inmueble.imagen.url }}"
        class="card-img-top"
        alt="{{ inmueble.nombre }}"
        style="object-fit: cover; height: 200px"
      />
      {% endif %}
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ inmueble.nombre }}</h5>
        <p class="card-text">
          <strong>Dirección:</strong> {{ inmueble.direccion }}<br />
          <strong>Comuna:</strong> {{ inmueble.comuna.nombre }}<br />
          <strong>Precio Mensual:</strong> ${{ inmueble.precio_mensual }}
        </p>
        <a
          href="{% url 'detalle_inmueble' inmueble.pk %}"
          class="btn btn-primary mt-auto"
          >Ver Detalles</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No hay inmuebles disponibles en este momento.</p>
{% endif %} {% endblock %}
